# Data Analysis

#### Import

In [1]:
import pandas as pd

direc1 = "..\public\data\cc_data.csv"
direc2 = "..\public\data\gps.csv"
direc3 = "..\public\data\car-assignments.csv"

df_cc = pd.read_csv(direc1)
df_gps = pd.read_csv(direc2)
df_employees = pd.read_csv(direc3)

In [2]:
df_gps["Timestamp"] = pd.to_datetime(df_gps['Timestamp'], infer_datetime_format=True)
df_gps

                 Timestamp  id        lat       long
0      2014-01-06 06:28:01  35  36.076225  24.874689
1      2014-01-06 06:28:01  35  36.076220  24.874596
2      2014-01-06 06:28:03  35  36.076211  24.874443
3      2014-01-06 06:28:05  35  36.076217  24.874253
4      2014-01-06 06:28:06  35  36.076214  24.874167
...                    ...  ..        ...        ...
685164 2014-01-19 20:56:43  30  36.058110  24.902130
685165 2014-01-19 20:56:47  30  36.058258  24.901774
685166 2014-01-19 20:56:48  30  36.058296  24.901711
685167 2014-01-19 20:56:49  30  36.058304  24.901620
685168 2014-01-19 20:56:55  30  36.058490  24.901095

[685169 rows x 4 columns]

In [3]:
df_cc["timestamp"] = pd.to_datetime(df_cc['timestamp'], infer_datetime_format=True)
df_cc

               timestamp             location  price  last4ccnum
0    2014-01-06 07:28:00  Brew've Been Served  11.34        4795
1    2014-01-06 07:34:00     Hallowed Grounds  52.22        7108
2    2014-01-06 07:35:00  Brew've Been Served   8.33        6816
3    2014-01-06 07:36:00     Hallowed Grounds  16.72        9617
4    2014-01-06 07:37:00  Brew've Been Served   4.24        7384
...                  ...                  ...    ...         ...
1485 2014-01-19 20:16:00          Guy's Gyros  37.48        9683
1486 2014-01-19 20:22:00      Katerina�s Caf�  38.90        9617
1487 2014-01-19 20:25:00          Guy's Gyros  20.94        3853
1488 2014-01-19 20:30:00          Guy's Gyros  31.94        4434
1489 2014-01-19 20:51:00          Guy's Gyros  39.60        6901

[1490 rows x 4 columns]

In [4]:
from datetime import datetime
from datetime import timedelta

In [5]:
df_gps = df_gps.set_index("Timestamp")
df_gps

                     id        lat       long
Timestamp
2014-01-06 06:28:01  35  36.076225  24.874689
2014-01-06 06:28:01  35  36.076220  24.874596
2014-01-06 06:28:03  35  36.076211  24.874443
2014-01-06 06:28:05  35  36.076217  24.874253
2014-01-06 06:28:06  35  36.076214  24.874167
...                  ..        ...        ...
2014-01-19 20:56:43  30  36.058110  24.902130
2014-01-19 20:56:47  30  36.058258  24.901774
2014-01-19 20:56:48  30  36.058296  24.901711
2014-01-19 20:56:49  30  36.058304  24.901620
2014-01-19 20:56:55  30  36.058490  24.901095

[685169 rows x 3 columns]

### Question 3 - Inferring the owners of cards

In [6]:
#list of those who move the most between an interval of n-minutes before and n-after the transaction
def get_candidates(timestamp):
    n_before = 10
    n_after = 6
    
    fulltime = timestamp.strftime("%Y-%m-%d, %H:%M:%S")
    dmy = fulltime[:10]
    ha = (timestamp - timedelta(minutes=n_before)).strftime("%m/%d/%Y, %H:%M:%S")[12:]
    hb1 = (timestamp + timedelta(minutes=1)).strftime("%m/%d/%Y, %H:%M:%S")[12:] #1 minute tolerance to start moving after the transaction 
    hb2 = (timestamp + timedelta(minutes=n_after)).strftime("%m/%d/%Y, %H:%M:%S")[12:]
    before_df = df_gps[dmy+" "+ha: fulltime]
    after_df = df_gps[dmy+" "+hb1: dmy+" "+hb2]
    filt_before = before_df['id'].unique()
    filt_after = after_df['id'].unique()
    flist = [x for x in filt_after if x not in filt_before]
    return flist

#### Credit Card

In [7]:
df_cc['candidates'] = df_cc['timestamp'].apply(get_candidates)

In [8]:
new_dfcc = pd.DataFrame(df_cc[["last4ccnum","candidates"]].groupby(("last4ccnum")).candidates.apply(sum))
new_dfcc

                                                   candidates
last4ccnum
1286        [9, 22, 4, 7, 3, 1, 6, 27, 11, 2, 10, 17, 22, ...
1310        [16, 26, 20, 26, 18, 19, 20, 25, 26, 29, 12, 5...
1321        [5, 26, 6, 15, 5, 35, 3, 8, 29, 20, 26, 32, 11...
1415        [5, 26, 6, 15, 34, 1, 6, 2, 33, 22, 4, 2, 26, ...
1874        [16, 13, 22, 28, 14, 8, 3, 29, 19, 11, 21, 30,...
1877        [5, 26, 6, 15, 14, 18, 9, 24, 15, 25, 27, 12, ...
2142        [21, 29, 1, 5, 8, 19, 11, 21, 18, 14, 25, 22, ...
2276        [106, 106, 106, 106, 4, 34, 105, 9, 106, 29, 1...
2418        [30, 15, 9, 23, 104, 20, 2, 18, 22, 24, 5, 25,...
2463        [5, 26, 6, 15, 5, 35, 3, 8, 29, 26, 32, 11, 2,...
2540        [5, 26, 6, 15, 23, 104, 34, 1, 6, 2, 33, 26, 3...
2681        [21, 29, 1, 5, 8, 16, 26, 2, 18, 22, 24, 5, 25...
3484        [21, 29, 1, 5, 8, 23, 104, 34, 18, 19, 6, 23, ...
3492        [11, 17, 6, 27, 19, 11, 21, 18, 27, 24, 29, 12...
3506        [101, 105, 26, 32, 11, 2, 19, 101, 12, 34, 101...
3547        [32, 29, 10, 3, 21, 29, 17, 29, 11, 23, 33, 13...
3853        [14, 24, 2, 24, 15, 25, 27, 26, 32, 11, 2, 19,...
4434        [14, 24, 2, 19, 11, 21, 18, 27, 24, 18, 28, 12...
4530        [106, 107, 106, 107, 107, 105, 107, 105, 107, ...
4795        [2, 23, 104, 34, 1, 6, 2, 33, 22, 11, 28, 10, ...
4948        [23, 12, 25, 30, 32, 15, 28, 33, 3, 7, 101, 32...
5010        [11, 28, 31, 14, 34, 31, 23, 19, 20, 31, 10, 1...
5368        [26, 20, 19, 24, 18, 23, 25, 5, 35, 3, 8, 29, ...
5407        [16, 13, 22, 28, 22, 4, 7, 2, 4, 29, 12, 28, 3...
5921        [11, 17, 6, 27, 5, 35, 3, 8, 29, 19, 19, 21, 2...
6691        [16, 13, 22, 28, 23, 104, 34, 1, 6, 21, 19, 29...
6816        [8, 34, 101, 26, 20, 19, 24, 16, 26, 23, 16, 7...
6895        [5, 26, 6, 15, 20, 13, 11, 21, 19, 26, 32, 11,...
6899        [5, 26, 6, 15, 5, 35, 3, 8, 29, 26, 32, 11, 2,...
6901        [24, 2, 30, 14, 6, 2, 24, 30, 8, 35, 16, 30, 1...
7108        [10, 27, 34, 8, 101, 26, 20, 101, 11, 13, 21, ...
7117        [5, 26, 6, 15, 15, 25, 27, 2, 26, 32, 11, 2, 1...
7253        [23, 25, 12, 30, 32, 15, 28, 33, 3, 7, 23, 104...
7354        [16, 26, 2, 4, 2, 33, 8, 35, 16, 30, 15, 8, 23...
7384        [26, 20, 19, 24, 18, 7, 17, 13, 29, 19, 30, 15...
7688        [5, 26, 6, 15, 22, 4, 7, 4, 16, 26, 32, 11, 2,...
7792        [13, 105, 105, 105, 105, 107, 33, 105, 107, 35...
7819        [5, 8, 16, 13, 22, 15, 25, 27, 1, 11, 13, 21, ...
7889        [21, 29, 1, 5, 8, 20, 11, 28, 10, 13, 30, 17, ...
8129        [3, 7, 11, 17, 6, 27, 13, 30, 10, 17, 8, 33, 3...
8156        [5, 26, 6, 15, 4, 10, 32, 32, 26, 32, 11, 2, 1...
8202        [9, 22, 14, 9, 24, 15, 25, 27, 14, 30, 6, 23, ...
8332        [5, 26, 6, 15, 4, 10, 32, 10, 26, 26, 32, 11, ...
8411        [9, 22, 4, 7, 27, 14, 9, 21, 13, 101, 15, 9, 3...
8642        [1, 2, 27, 104, 8, 23, 8, 29, 24, 25, 104, 17,...
9152                                          [106, 106, 105]
9220        [101, 101, 101, 5, 26, 6, 15, 30, 101, 25, 101...
9241        [5, 26, 6, 15, 4, 28, 26, 32, 11, 2, 19, 28, 1...
9405        [27, 21, 29, 1, 11, 21, 18, 14, 9, 24, 13, 11,...
9551        [21, 29, 1, 5, 8, 23, 104, 34, 1, 6, 2, 33, 1,...
9614        [16, 8, 101, 34, 3, 101, 101, 107, 15, 6, 32, ...
9617        [101, 8, 26, 20, 19, 24, 18, 8, 3, 29, 19, 11,...
9635        [5, 26, 6, 15, 5, 35, 3, 8, 29, 12, 9, 2, 13, ...
9683        [23, 12, 25, 30, 32, 15, 28, 33, 3, 7, 1, 6, 2...
9735        [101, 107, 104, 107, 107, 15, 24, 107, 106, 10...

In [9]:
from collections import Counter

def most_common(lista):
    data = Counter(lista)
    return data.most_common(1)[0][0]

new_dfcc['candidates'] = new_dfcc['candidates'].apply(most_common)
new_dfcc.reset_index(inplace=True)
new_dfcc

    last4ccnum  candidates
0         1286          22
1         1310          26
2         1321          11
3         1415           2
4         1874          14
5         1877           9
6         2142          25
7         2276         106
8         2418          30
9         2463          35
10        2540           7
11        2681          22
12        3484          23
13        3492          27
14        3506         101
15        3547          29
16        3853          15
17        4434          24
18        4530         107
19        4795          34
20        4948          12
21        5010          31
22        5368          17
23        5407          22
24        5921          29
25        6691          22
26        6816          20
27        6895          19
28        6899           5
29        6901          30
30        7108          12
31        7117           2
32        7253           6
33        7354          16
34        7384          17
35        7688           4
36        7792         105
37        7819          13
38        7889           8
39        8129          17
40        8156          32
41        8202           9
42        8332          10
43        8411          30
44        8642         104
45        9152         106
46        9220         101
47        9241          28
48        9405          21
49        9551           1
50        9614         101
51        9617          18
52        9635           3
53        9683          33
54        9735         107

In [10]:
df_employees["CarID"] = df_employees["CarID"].apply(lambda x : int(x) if x > 0 else "NaN")
new_df_employees = df_employees.set_index('CarID').join(new_dfcc.set_index('candidates'))
new_df_employees["last4ccnum"] = new_df_employees["last4ccnum"].apply(lambda x : int(x) if x > 0 else "NaN")
new_df_employees.index.name="CarID"
new_df_employees

,LastName,FirstName,CurrentEmploymentType,CurrentEmploymentTitle,last4ccnum
CarID,,,,,
1,Calixto,Nils,Information Technology,IT Helpdesk,9551
2,Azada,Lars,Engineering,Engineer,1415
2,Azada,Lars,Engineering,Engineer,7117
3,Balas,Felix,Engineering,Engineer,9635
4,Barranco,Ingrid,Executive,SVP/CFO,7688
5,Baza,Isak,Information Technology,IT Technician,6899
6,Bergen,Linnea,Information Technology,IT Group Manager,7253
7,Orilla,Elsa,Engineering,Drill Technician,2540
8,Alcazar,Lucas,Information Technology,IT Technician,7889
9,Cazar,Gustav,Engineering,Drill Technician,1877
9,Cazar,Gustav,Engineering,Drill Technician,8202
10,Campo-Corrente,Ada,Executive,SVP/CIO,8332
11,Calzas,Axel,Engineering,Hydraulic Technician,1321
12,Cocinaro,Hideki,Security,Site Control,4948
12,Cocinaro,Hideki,Security,Site Control,7108
13,Ferro,Inga,Security,Site Control,7819
14,Dedos,Lidelse,Engineering,Engineering Group Manager,1874
15,Bodrogi,Loreto,Security,Site Control,3853
16,Vann,Isia,Security,Perimeter Control,7354
17,Flecha,Sven,Information Technology,IT Technician,5368
17,Flecha,Sven,Information Technology,IT Technician,7384
17,Flecha,Sven,Information Technology,IT Technician,8129
18,Frente,Birgitta,Engineering,Geologist,9617
19,Frente,Vira,Engineering,Hydraulic Technician,6895
20,Fusil,Stenig,Security,Building Control,6816
21,Osvaldo,Hennie,Security,Perimeter Control,9405
22,Nubarron,Adra,Security,Badging Office,1286
22,Nubarron,Adra,Security,Badging Office,2681
22,Nubarron,Adra,Security,Badging Office,5407
22,Nubarron,Adra,Security,Badging Office,6691
23,Lagos,Varja,Security,Badging Office,3484
24,Mies,Minke,Security,Perimeter Control,4434
25,Herrero,Kanon,Engineering,Geologist,2142
26,Onda,Marin,Engineering,Drill Site Manager,1310
27,Orilla,Kare,Engineering,Drill Technician,3492
28,Borrasca,Isande,Engineering,Drill Technician,9241
29,Ovan,Bertrand,Facilities,Facilities Group Manager,3547
29,Ovan,Bertrand,Facilities,Facilities Group Manager,5921
30,Resumir,Felix,Security,Security Group Manager,2418
30,Resumir,Felix,Security,Security Group Manager,6901
30,Resumir,Felix,Security,Security Group Manager,8411
31,Sanjorge Jr.,Sten,Executive,President/CEO,5010
32,Strum,Orhan,Executive,SVP/COO,8156
33,Tempestad,Brand,Engineering,Drill Technician,9683
34,Vann,Edvard,Security,Perimeter Control,4795
35,Vasco-Pais,Willem,Executive,Environmental Safety Advisor,2463
101,Hafon,Albina,Facilities,Truck Driver,3506
101,Hafon,Albina,Facilities,Truck Driver,9220
101,Hafon,Albina,Facilities,Truck Driver,9614
102,Hawelon,Benito,Facilities,Truck Driver,NaN
103,Hawelon,Claudio,Facilities,Truck Driver,NaN
104,Mies,Henk,Facilities,Truck Driver,8642
105,Morlun,Valeria,Facilities,Truck Driver,7792
106,Morlun,Adan,Facilities,Truck Driver,2276
106,Morlun,Adan,Facilities,Truck Driver,9152
107,Morluniau,Cecilia,Facilities,Truck Driver,4530
107,Morluniau,Cecilia,Facilities,Truck Driver,9735
108,Nant,Irene,Facilities,Truck Driver,NaN
109,Scozzese,Dylan,Facilities,Truck Driver,NaN

In [11]:
new_df_employees1 = new_df_employees.reset_index().groupby(['CarID', "FirstName", "LastName", "CurrentEmploymentType", "CurrentEmploymentTitle"])
result = new_df_employees1["last4ccnum"].unique()
result

CarID  FirstName  LastName        CurrentEmploymentType   CurrentEmploymentTitle
1      Nils       Calixto         Information Technology  IT Helpdesk                                       [9551]
2      Lars       Azada           Engineering             Engineer                                    [1415, 7117]
3      Felix      Balas           Engineering             Engineer                                          [9635]
4      Ingrid     Barranco        Executive               SVP/CFO                                           [7688]
5      Isak       Baza            Information Technology  IT Technician                                     [6899]
6      Linnea     Bergen          Information Technology  IT Group Manager                                  [7253]
7      Elsa       Orilla          Engineering             Drill Technician                                  [2540]
8      Lucas      Alcazar         Information Technology  IT Technician                                     [7889]
9      Gustav     Cazar           Engineering             Drill Technician                            [1877, 8202]
10     Ada        Campo-Corrente  Executive               SVP/CIO                                           [8332]
11     Axel       Calzas          Engineering             Hydraulic Technician                              [1321]
12     Hideki     Cocinaro        Security                Site Control                                [4948, 7108]
13     Inga       Ferro           Security                Site Control                                      [7819]
14     Lidelse    Dedos           Engineering             Engineering Group Manager                         [1874]
15     Loreto     Bodrogi         Security                Site Control                                      [3853]
16     Isia       Vann            Security                Perimeter Control                                 [7354]
17     Sven       Flecha          Information Technology  IT Technician                         [5368, 7384, 8129]
18     Birgitta   Frente          Engineering             Geologist                                         [9617]
19     Vira       Frente          Engineering             Hydraulic Technician                              [6895]
20     Stenig     Fusil           Security                Building Control                                  [6816]
21     Hennie     Osvaldo         Security                Perimeter Control                                 [9405]
22     Adra       Nubarron        Security                Badging Office                  [1286, 2681, 5407, 6691]
23     Varja      Lagos           Security                Badging Office                                    [3484]
24     Minke      Mies            Security                Perimeter Control                                 [4434]
25     Kanon      Herrero         Engineering             Geologist                                         [2142]
26     Marin      Onda            Engineering             Drill Site Manager                                [1310]
27     Kare       Orilla          Engineering             Drill Technician                                  [3492]
28     Isande     Borrasca        Engineering             Drill Technician                                  [9241]
29     Bertrand   Ovan            Facilities              Facilities Group Manager                    [3547, 5921]
30     Felix      Resumir         Security                Security Group Manager                [2418, 6901, 8411]
31     Sten       Sanjorge Jr.    Executive               President/CEO                                     [5010]
32     Orhan      Strum           Executive               SVP/COO                                           [8156]
33     Brand      Tempestad       Engineering             Drill Technician                                  [9683]
34     Edvard     Vann            Security                Perimeter Control                                 [4795]
35     Willem     Vasco-Pais      Executive               Environmental Safety Advisor                      [2463]
101    Albina     Hafon           Facilities              Truck Driver                          [3506, 9220, 9614]
102    Benito     Hawelon         Facilities              Truck Driver                                       [NaN]
103    Claudio    Hawelon         Facilities              Truck Driver                                       [NaN]
104    Henk       Mies            Facilities              Truck Driver                                      [8642]
105    Valeria    Morlun          Facilities              Truck Driver                                      [7792]
106    Adan       Morlun          Facilities              Truck Driver                                [2276, 9152]
107    Cecilia    Morluniau       Facilities              Truck Driver                                [4530, 9735]
108    Irene      Nant            Facilities              Truck Driver                                       [NaN]
109    Dylan      Scozzese        Facilities              Truck Driver                                       [NaN]
Name: last4ccnum, dtype: object